// Variables
// Fonts
$font-1: 'Montserrat', sans-serif;

// Color Scheme - Basic
$dark: #242832;
$dark-light: #2B303C;
$gray: #C8C8C8;
$gray-light: #D4D9E2;
$white: #FFFFFF;

// Color Scheme - Advanced
$red: #F20B5F;
$red-hover: darken($red, 5%);

$blue: #00FFFF;
$blue-hover: darken($blue, 5%);

$yellow: #FFE74C;
$yellow-hover: darken($yellow, 5%);

// Other
$radius: 8px;