.form {
    &__group, &__label, &__input {
        width: 100%;
    }

    &__group {
        margin-bottom: 20px;
    }

    &__label {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 30px;
    }

    &__input {
        height: 60px;
        background: $dark-light;
        border: none;
        border-radius: $radius;
        color: $white;
        padding: 0 10px;
    }
}