<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Fonts -->

    <!-- CSS -->
    <link rel="stylesheet" href="./public/css/style.css">
</head>
<body class="auth">
    
    <!-- Stripes -->
    <div class="stripes">

    </div>

    <!-- Navigation -->
    <nav class="navigation">
        @!section('cta')
    </nav>

    <main class="container">
        @!section('content')
    </main>

</body>
</html>