<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RL - Auth</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&amp;subset=latin-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="auth">
    
    <!-- Stripes -->
    <div class="stripes">
        <div class="stripes__stripe"></div>
        <div class="stripes__stripe"></div>
        <div class="stripes__stripe"></div>
    </div>

    <!-- Navigation -->
    <nav class="navigation">
        @!section('cta')
    </nav>

    <main class="container">
        @!section('content')
    </main>

</body>
</html>