<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RL</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&amp;subset=latin-ext" rel="stylesheet"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="default">
    
    <!-- Navigation -->
    <nav class="navigation">
        <ul class="navigation__menu menu">
            <li class="menu__item">
                <a href="/game" class="menu__link btn btn--is-large btn--is-red">
                    Play
                </a>
            </li>
            <li class="menu__item">
                <a href="/" class="menu__link btn">
                    Home
                </a>
            </li>
            <li class="menu__item">
                <a href="/store" class="menu__link btn">
                    Store
                </a>
            </li>
            <li class="menu__item">
                <a href="#" class="menu__link btn">
                    Options
                </a>
            </li>
        </ul>
    </nav>

    <!-- Content -->
    <main class="content">
        @!section('content')
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="footer__alert">
            test
        </div>
        <ul class="footer__menu menu">
            <li class="menu__item">
                <button class="menu__btn btn btn--is-large btn--is-red-outline">
                    X
                </button>
            </li>
        </ul>
    </footer>

</body>
</html>